[Unit]
AssertPathExists=path_to_the_script_directory
AssertPathIsDirectory=path_to_the_script_directory
AssertDirectoryNotEmpty=path_to_the_script_directory
AssertPathExists=path_to_the_script_directory/check_IP.sh
AssertFileNotEmpty=path_to_the_script_directory/check_IP.sh
AssertFileIsExecutable=path_to_the_script_directory/check_IP.sh
After=network.target
Description=Service that run the script that checks the public IP of the router

[Service]
ExecStart=check_IP.sh --post true
Restart=on-failure
RestartSec=5s
Type=simple
User=my_user
WorkingDirectory=path_to_the_script_directory
