[Install]
Alias=
Also=
DefaultInstance=
RequiredBy=
WantedBy=

[Service]
BusName=
Environment=
ExecCondition=
ExecReload=
ExecStart=
ExecStartPre=
ExecStartPost=
ExecStop=
ExecStopPost=
FileDescriptorStoreMax=
GuessMainPID=
Nice=
NonBlocking=
NotifyAccess=
OOMPolicy=
PIDFile=
PrivateTmp=
RemainAfterExit=
Restart=
RootDirectoryStartOnly=
RestartForceExitStatus=
RestartPreventExitStatus=
RestartSec=
RuntimeMaxSec=
Sockets=
SuccessExitStatus=
TimeoutAbortSec=
TimeoutSec=
TimeoutStartSec=
TimeoutStopSec=
Type=
USBFunctionDescriptors=
USBFunctionStrings=
User=
WatchdogSec=
WorkingDirectory=

[Unit]
After=
AllowIsolate=
AssertACPower=
AssertArchitecture=
AssertCapability=
AssertControlGroupController=
AssertDirectoryNotEmpty=
AssertFileIsExecutable=
AssertFileNotEmpty=
AssertFirstBoot=
AssertGroup=
AssertHost=
AssertKernelCommandLine=
AssertKernelVersion=
AssertNeedsUpdate=
AssertPathExists=
AssertPathExistsGlob=
AssertPathIsDirectory=
AssertPathIsMountPoint=
AssertPathIsReadWrite=
AssertPathIsSymbolicLink=
AssertSecurity=
AssertUser=
AssertVirtualization=
Before=
BindsTo=
CollectMode=
Conflicts=
ConditionACPower=
ConditionArchitecture=
ConditionCapability=
ConditionControlGroupController=
ConditionCPUs=
ConditionDirectoryNotEmpty=
ConditionFileIsExecutable=
ConditionFileNotEmpty=
ConditionFirstBoot=
ConditionGroup=
ConditionHost=
ConditionKernelCommandLine=
ConditionKernelVersion=
ConditionMemory=
ConditionNeedsUpdate=
ConditionPathExists=
ConditionPathExistsGlob=
ConditionPathIsDirectory=
ConditionPathIsMountPoint=
ConditionPathIsReadWrite=
ConditionPathIsSymbolicLink=
ConditionSecurity=
ConditionUser=
ConditionVirtualization=
DefaultDependencies=
Description=
Documentation=
FailureAction=
FailureActionExitStatus=
IgnoreOnIsolate=
JobRunningTimeoutSec=
JobTimeoutAction=
JobTimeoutRebootArgument=
JobTimeoutSec=
JoinsNamespaceOf=
OnFailure=
OnFailureJobMode=
PartOf=
PropagatesReloadTo=
RebootArgument=
RefuseManualStart=
RefuseManualStop=
ReloadPropagatedFrom=
Requires=
RequiresMountsFor=
Requisite=
SourcePath=
StartLimitAction=
StartLimitBurst=
StartLimitIntervalSec=
StopWhenUnneeded=
SuccessAction=
SuccessActionExitStatus=
Wants=
